
.Attend {
  text-align: left;
  width: 10%
}

.Onboarding {
  background-color: ghostwhite;
}

.Login {
  width : 35%;
  margin:0% auto;
  text-align: center
}

.Signup {
  width : 40%;
  margin:2% auto;
  
}
.SignupButt {
  margin-left: 35%
}

.Issues {
  background: rgb(234, 250, 252);
}

.IssueLink {
  width: 60%;
  text-decoration: none;
  color: black;
}

.IssueCard {
  width: 50%;
  border: 1.4px solid grey;
  margin: 0% auto;
  margin-bottom: 2%;
  padding: 0 5%;
}

.OnbordLink {
  text-decoration: none;
  color:white;
}
.Navigation {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 2%;
  background-image: url('./img/scho.jpg');
  height: 180px;
  padding: 2%;
  box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.active {
  background-color: rgb(147, 147, 253);
}

.Org_Id {
  background: rgb(155, 118, 24);
}

.LogoutButt {
  width: 10%;
}

.AddIssue{
  width: 70%;
  margin: 0 auto
}

.IssueById {
  width: 95%;
  box-shadow: 0px 16px 32px 0px rgba(247, 217, 217, 0.2);
  z-index: 1;
  margin: 2%;
  border: 1.4px solid grey;
  padding: 2%;
  border-radius: 10px;
}

.welcome {
  width: 90%;
  margin: 2% auto;
  text-align: center
}

.Orgrol {
  width: 80%;
  text-align: left;
  color: blue
}

.students {
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
  height: 350px;
  border-radius: 5%
}

.Welcomediv {
  width: 90%;
  margin: 1% auto;
  display: flex;
  justify-content: space-between;
}

.WelcomeP {
  width: 45%;
  padding-top: 10%
}

.WelcomeImage {
  width: 45%;
  border-radius: 2%;
}

.errormessage {
  color: red;
  text-decoration-line: underline
}

@media (max-width: 500px) {
  
  
.Login {
  width : 90%;
  margin:0% auto;
  text-align: center
}

.Signup {
  width : 90%;
  margin:2% auto;
  
}

.IssueCard {
  width: 90%;
  border: 1.4px solid grey;
  margin: 0% auto;
  margin-bottom: 2%;
  padding: 0 5%;
}

.Welcomediv {
  width: 90%;
  margin: 1% auto;
  display: inline-block;
  
}

.WelcomeP {
  width: 80%;
  padding:2%
}

.WelcomeImage {
  width: 80%;
  border-radius: 2%;
}

}
